[Unit]
Description=Stop LXC containers
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/local/bin/lxc-stop-all
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
